<ul>
  <li><%= link_to "News", news_index_path %></li>
  <li><%= link_to "Photos", photos_path %></li>
  <li><%= link_to "Schedules", schedules_path %></li>
  <li><%= link_to "Events", events_path %></li>
  <li>Login</li>
</ul>